<table id="top-repos" class="scoreboard table table-striped table-responsive table-hover">
  <thead>
    <tr>
      <th class="rank"></th>
      <th class="name">Repo</th>
      <th class="score">Score</th>
      <th class="commits">Commits</th>
      <th class="additions">Additions</th>
      <th class="deletions">Deletions</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'repositories/repository', collection: @repositories%>
  </tbody>
</table>
