<h1>Scoreboard</h1>
<table>
    <tr><th></th><th>Contributor</th><th>Points</th></tr>
    <% @scores.each do |score| %>
        <tr>
            <td><img src="<%= score.avatar %>?s=30" alt="<%= score.person %>" width="30" height="30" /></td>
            <td><%= score.person %></td>
            <td><%= score.points %></td>
        </tr>
    <% end %>
</table>
