<div class="container-fluid">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="page-header">
      <h1>Scoreboard</h1>
    </div>
    <div class="table-responsive">
      <table id="scoreboard" class="table table-striped">
        <thead>
            <tr>
            <th></th>
            <th></th>
            <th>Contributor</th>
            <th class="score">Score</th>
            <th class="commits">Commits</th>
            <th class="additions">Additions</th>
            <th class="deletions">Deletions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <%= render partial: 'scoreboard' %>
  <div class="col-md-2"></div>
</div>
<%= javascript_tag "get_scoreboard('#{scoreboard_path}', {});" %>
