<div class="col-md-8 col-md-offset-2">
  <div class="table-responsive">
    <table id="bounty-table" data-source="<%= claimed_bounties_coder_path(@coder, format: :json) %>" class="history table table-striped table-hover">
      <thead>
        <tr>
          <th>Claimed at</th>
          <th>Value</th>
          <th>Repository</th>
          <th>Issue</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
