<div class="col-md-12">
  <div class="table-responsive">
    <table id="history-table" data-source="<%= commit_history_coder_path(@coder, format: :json) %>" class="history table table-striped table-hover">
      <thead>
        <tr>
          <th>Date</th>
          <th>Addition score</th>
          <th>Repository</th>
          <th>Sha</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
