<% repo = issue.repository %>
<tr>
  <td><%= link_to repo.name, repo %></td>
  <td class="truncatable"><%= link_to issue.title, issue.github_url %></td>
  <td><%= issue.total_bounty_value %></td>
</tr>
