/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 */
@import "bootstrap-sprockets";
@import "bootstrap";
/*@import "font-awesome-sprockets";*/
@import "font-awesome";

#page-wrapper {
    margin-top: 50px;
}

.magnificent-top-padding{
    padding-top: 30px;
}

.table:last-child {
    margin-bottom: 0px;
}

div.dataTables_wrapper > div.row {
    margin: 0;
}

.navbar-nav .avatar {
    padding: 10px;
}

.navbar-nav .avatar img {
    margin-right: 8px;
}

@media (max-width: 768px) {
    .navbar-nav .avatar img {
        max-width: 20px;
        max-height: 20px;
    }
}
