// Place all the styles related to the bounties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bounties-table {
    td, th {
        vertical-align: middle;
        overflow: hidden;

        &.total-bounty {
            text-align: center;
        }

        &.my-bounty {
            text-align: center;
            min-width: 9em;
            padding-left: 0;
            input {
                max-width: 4em;
            }
            input[type=submit] {
                min-width: 4em;
            }
        }
    }
}

// DataTables fucks up
#bounties-table_wrapper {
    // Fuck off, random div
    .col-xs-6:nth-child(1){
        display: none;
    }
}

.dataTables_filter {
    float: left;
    margin-left: 20px;
    margin-top: 10px;

    input {
        margin-left: 10px;
    }
}
