// Place all the styles related to the bounties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bounties-table {
    td {
        vertical-align: middle;
    }

    // Total bounty cell
    td:nth-child(3), th:nth-child(3) {
        text-align: center;
    }

    // My bounty cell
    td:nth-child(4), th:nth-child(4) {
        text-align: center;
        min-width: 10em;
        input {
            max-width: 4em;
        }
        input[type=submit] {
            min-width: 4em;
        }

        .input-group {
            @media screen and (min-width: 768px) {
                display: block;
                #bounty_absolute_value {
                    float: none;
                }
                .new_bounty > span {
                    display: inline;
                }
            }
        }
    }
    td {
        overflow: hidden;
    }

}

#bounties-table_wrapper {
    // Fuck off, random div
    .col-xs-6:nth-child(1){
        display: none;
    }
}

.dataTables_filter {
    margin-top: 10px;

    input {
        margin-left: 10px;
    }
}
