// Place all the styles related to the bounties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.bounties-page #page-wrapper {
    #bounties-table {
        td, th {
            vertical-align: middle;
            overflow: hidden;

            &.total-bounty {
                text-align: center;
            }

            &.my-bounty {
                text-align: center;
                min-width: 9em;
                padding-left: 0;
                input {
                    max-width: 4em;
                }
                input[type=submit] {
                    min-width: 4em;
                }
            }
        }
    }

    #bounties-table_filter {
        text-align: left;
    }

    #bounties-table_paginate {
        text-align: center;
    }
}
