// Place all the styles related to the Coder controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile_pic {
    border-radius: 50%;
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}
.number {
    font-weight:lighter;
    font-size: 200%;
}
.metric {
    font-size: 18pt;
}
.score-table {
    text-align: center;
}

.scoreboard {
    .rank {
        font-size: 20pt;
        text-align: right;
        width: 45px;
        height: 45px;
        vertical-align: middle;
    }
    .avatar {
        width: 45px;
    }
    .name {
        vertical-align: middle;
    }
    .username {
        font-weight: bold;
    }
    .score, .commits, .additions, .deletions {
        vertical-align: middle;
        text-align: right;
    }
}

#top-repos {
    margin-top: 50px;
    .name {
        font-weight: bold;
        padding-left: 60px;
    }
}

.avatar {
    img {
        border-radius: 50%;
    }
}
