// Place all the styles related to the Coder controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile_pic {
    max-width: 100%
}
