// Place all the styles related to the top4 controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.toprow {
    // At 992 px the ordinal bar graph drops down
    @media (min-width: 992px) {
        height: 300px;
    }

    .top4, .panel, #top-coders, #top-repos {
        height: 100%;
    }
}

div.top4 {
    margin: auto;


    #top-coders {
        td {
            vertical-align: middle;
        }

        .rank {
            font-size: 20pt;
            text-align: right;
            width: 45px;
            height: 20%;
        }
        .avatar {
            width: 45px;
            img {
                border-radius: 50%;
            }
        }
        .username {
            font-weight: bold;
        }
        .score {
            text-align: right;
            font-size: 20pt;
        }

        tr:first-child {
            width: 90px;
            height: 40%;
            .name {
                font-size: 15pt;
            }
            .username {
                font-size: 23pt;
            }
            .avatar {
                width: 120px;
                img {
                    margin-left: -37px;
                    margin-top: -60px;
                    border-radius: 50%;
                    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
                }
            }
            .score {
                font-size: 25pt;
            }
        }

    }

    #top-repos {
        width: 100%;
        max-height: 100%;
        display: block;
        margin: auto;
        padding: 10px;

        vertical-align: bottom;
        shape-rendering: crisp-edges;
        image-rendering: crisp-edges;

        .repo-bar {
            fill: #1565c0;
        }

        .repo-label {
            text-anchor: middle;
            font: 16px sans-serif;
            fill: black;
        }

        .contributor-name {
            text-anchor: middle;
            fill: white;
        }

        .axis {
            text {
                font: 16px sans-serif;
                fill: black;
            }
        }
    }
}
