<tr>
  <td class="date"><%= historyitem[:date] %></td>
  <td class="type"><%= historyitem[:type] %></td>
  <td class="score"><%= historyitem[:score] %></td>
  <td class="info"><%= historyitem[:info] %></td>
</tr>
