<div class="row">
    <div class="col-md-12">
        <h1>Scoreboard</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="table-responsive">
            <table id="scoreboard" class="table table-striped table-hover tablesorter">
                <thead>
                    <tr>
                        <th rowspan="2"></th>
                        <th rowspan="2"></th>
                        <th rowspan="2">Contributor</th>
                        <th rowspan="2">Score</th>
                        <th rowspan="2">Commits</th>
                        <th colspan="3">Lines</th>
                    </tr>
                    <tr>
                        <th>Added</th>
                        <th>Changed</th>
                        <th>Deleted</th>
                    </tr>
                </thead>
                <tbody>
                    <%= render @coders %>
                </tbody>
            </table>
        </div>
    </div>
</div>
