<div class="container-fluid">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="page-header">
      <h1>Scoreboard</h1>
    </div>

    <div class="table-responsive">
      <table id="scoreboard" class="table table-striped tablesorter">
        <thead>
          <tr>
            <th rowspan="2"></th>
            <th rowspan="2"></th>
            <th rowspan="2">Contributor</th>
            <th rowspan="2">Score</th>
            <th rowspan="2">Commits</th>
            <th colspan="2">Lines</th>
          </tr>
          <tr>
            <th>Added</th>
            <th>Deleted</th>
          </tr>
        </thead>
        <tbody>
          <%= render @coders %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
