<% if @coder.blank? %>
  <div class="alert alert-danger fade in">
    This person does not exist.
  </div>
<% else %>
  <div class="container-fluid">
    <div class="col-md-10 col-md-offset-1">
      <div class="page-header">
        <h1>
          <%= @coder.github_name %>
          <small><%= @coder.full_name %></small>
          <%= link_to image_tag('github.png'), @coder.github_url, title: 'View profile on GitHub' %>
        </h1>
      </div>

      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#contributions" aria-controls="contributions" role="tab" data-toggle="tab">Contributions</a</li>
        <li role="presentation"><a href="#graph" aria-controls="graph" role="tab" data-toggle="tab">Graph</a></li>
        <li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
      </ul>

      <div class="tab-content">
        <br />

        <div role="tabpanel" class="tab-pane active" id="contributions">
          <%= render partial: 'contributions' %>
        </div>

        <div role="tabpanel" class="tab-pane" id="graph">
        </div>

        <div role="tabpanel" class="tab-pane" id="history">
        </div>

      </div>
    </div>

  </div>
<% end %>
